---
import AccordionSection from "../content/AccordionSection.astro";
import ContentSection from "../content/ContentSection.astro";
import {
  STOCKHOLM_FAQ_EN_LEFT,
  STOCKHOLM_FAQ_EN_RIGHT,
} from "../../lib/content/stockholm-faq";

const introHtml = "<h1>Frequently Asked Questions (FAQ)</h1>";
---

<div class="page-migrated page-faq-sv">
  <ContentSection markdown={introHtml} />
  <div class="page-faq-accordions">
    <AccordionSection items={[...STOCKHOLM_FAQ_EN_LEFT]} />
    <AccordionSection items={[...STOCKHOLM_FAQ_EN_RIGHT]} />
  </div>
</div>
