---
import AccordionSection from "../content/AccordionSection.astro";
import ContentSection from "../content/ContentSection.astro";
import {
  STOCKHOLM_FAQ_SV_LEFT,
  STOCKHOLM_FAQ_SV_RIGHT,
} from "../../lib/content/stockholm-faq";

const introHtml = "<h1>Frågor och svar</h1>";
---

<div class="page-migrated page-faq-sv">
  <ContentSection markdown={introHtml} />
  <div class="page-faq-accordions">
    <AccordionSection items={[...STOCKHOLM_FAQ_SV_LEFT]} />
    <AccordionSection items={[...STOCKHOLM_FAQ_SV_RIGHT]} />
  </div>
</div>
