---
import { privacyPolicyInnerHtml } from "../../lib/content/privacy-policy-inner-html";
---

<div class="page-migrated page-privacy">
  <div class="shared-content-prose privacy-policy__inner" set:html={privacyPolicyInnerHtml} />
</div>
